{% load static %}

<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Script_Parsed_Vis</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<script src="{% static 'js/flicking.pkgd.min.js' %}" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'css/flicking.css' %}" crossorigin="anonymous" />
	<noscript>
        <link rel="stylesheet" href="{% static 'css/noscript.css' %}" />
	</noscript>

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="logo">
				<span class="icon fa-gem"></span>
			</div>
			<div class="content">
				<div class="inner">
					<h1>剧本可视化展示</h1>
					<p>这是一个由<a href="#about">SCRIPT_VIS可视化小组</a>制作的<br />
						关于<a href="#intro">剧本内容解析可视化</a>的网页展示.</p>
				</div>
			</div>
			<nav>
				<ul>
					<li><a href="#intro">Intro</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="../../work">Work</a></li>
					<li><a href="../../list">List</a></li>
					<!--<li><a href="#elements">Elements</a></li>-->
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main">

			<!-- Intro -->
			<article id="intro">
				<h2 class="major">Intro</h2>
				<span class="image main"><img src="{% static 'images/pic01.jpg' %}" alt="" /></span>
				<p>本作品是一个基于网页的影视剧本解析与可视化工具。我们将提供剧本原文、观者评价和场景分析等多种功能，帮助用户深入了解影视剧本中的细节与元素。通过我们的工具，用户可以更好地了解剧本中人物关系、情节发展、情感表达等方面，从而提高对影视作品的理解和欣赏。无论您是影视爱好者还是从事影视行业的专业人士，本工具都将为您提供有价值的帮助。
				</p>
				<p>我们的努力将剧本解析与可视化相结合，从用户的角度出发，根据剧本为用户展示了不同场景对应的人物关系，为用户提供更加直观、深入的影视剧本分析体验；在展示剧本原文的同时，还根据不同平台上观影者对于该作品的评论，展示对应的剧情，以便用户的参考，为用户提供更全面、立体的影视剧本分析视角。
				</p>
			</article>

			
			<!-- About -->
			<article id="about">
				<h2 class="major">About Us</h2>
				<span class="image main"><img src="{% static 'images/pic03.jpg' %}" alt="" /></span>
				<p>我们是剧本可视化——SCRIPT_VIS小组。</p>
				<p>希望我们的作品能让您喜欢！</p>
			</article>

			<!-- Work -->
			<article id="work">
				<h2 class="major">Work</h2>
				<span class="image main"><img src="{% static 'images/pic02.jpg' %}" alt="" /></span>
				<p>This is work.</p>
				<p>This is work.</p>
			</article>

            <!--feedback-->
            <article id="feedback">
				<h2 class="major">Feedback</h2>
				<span class="image main"><img src="{% static 'images/pic01.jpg' %}" alt="" /></span>
                <form method="post" action="#">
                    <div class="fields">
                        <div class="field half">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" placeholder="Your Name" required />
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder="Your Email" required />
                        </div>
                        <div class="field">
                            <label for="category">Category</label>
                            <select name="category" id="category">
                                <option value="">-</option>
                                <option value="manufacturing">Manufacturing</option>
                                <option value="shipping">Shipping</option>
                                <option value="administration">Administration</option>
                                <option value="human_resources">Human Resources</option>
                            </select>
                        </div>
                        <div class="field half">
                            <label>Priority</label>
                            <input type="radio" id="priority-low" name="priority" value="low" checked />
                            <label for="priority-low">Low</label>
                            <input type="radio" id="priority-high" name="priority" value="high" />
                            <label for="priority-high">High</label>
                        </div>
                        <div class="field half">
                            <input type="checkbox" id="copy" name="copy" />
                            <label for="copy">Email me a copy</label>
                        </div>
                        <div class="field half">
                            <input type="checkbox" id="human" name="human" checked />
                            <label for="human">Not a robot</label>
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" placeholder="Enter your message" rows="6" required></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="primary" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </form>

			</article>


		</div>

		<!-- Footer -->
		<footer id="footer">
			<p class="copyright">&copy; Design BY: <a href="#about">SCRIPT_VIS GROUP</a>.</p>
		</footer>

	</div>

	<!-- BG -->
	<div id="bg"></div>

	<!-- Scripts -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/browser.min.js' %}"></script>
	<script src="{% static 'js/breakpoints.min.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>