
#b1 {
    background-color: white;
}

#b2 {
    background-color: white;
}

.text {
    height: 200px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
}

.wordclouds {
    background-color: white;
}